*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    background-color: rgb(223, 199, 204); 
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(17, 18, 19, 0.52), rgba(14, 12, 13, 0.73)),url(img/michael-baccin-XopauR-Nagk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
h1{
    margin:1em 1em;
    color:  rgb(230, 200, 205); 

}
h2{
    color:   rgb(230, 200, 205); 
    border: 1px solid rgb(150, 133, 133);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

   /* background-color: lightblue;*/
    
    
    
   

}

nav{
    margin:1em 1em;
    
    
    
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60vh;

} 
section{
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;



}
.intro{
    width: 60vw;
    height: auto;
    background-color:  rgb(230, 200, 205); 
    padding: 1em 1em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
}
footer{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
   

}
